In [3]:
library(tidyverse)

library(lubridate)

In [2]:
ymd("2017-01-31")
#> [1] "2017-01-31"
mdy("January 31st, 2017")
#> [1] "2017-01-31"
dmy("31-Jan-2017")
#> [1] "2017-01-31"

[1] "2017-01-31"

[1] "2017-01-31"

[1] "2017-01-31"

In [4]:
as_datetime(60 * 60 * 10)
#> [1] "1970-01-01 10:00:00 UTC"
as_date(365 * 10 + 2)
#> [1] "1980-01-01"

[1] "1970-01-01 10:00:00 UTC"

[1] "1980-01-01"

In [5]:
datetime <- ymd_hms("2016-07-08 12:34:56")

In [6]:
year(datetime)
#> [1] 2016
month(datetime)
#> [1] 7
mday(datetime)
#> [1] 8

yday(datetime)
#> [1] 190
wday(datetime)
#> [1] 6

[1] 2016

[1] 7

[1] 8

[1] 190

[1] 6

In [7]:
#timespans

In [13]:
h_age <- today() - ymd(19791014)
h_age
as.duration(h_age)

Time difference of 15145 days

[1] "1308528000s (~41.46 years)"